h1{
 text-align:center;   
}
.blocks{
    box-sizing:border-box;
    background-color:white;
    width:100px;
    height:100px;
    border-style:solid;
    border-width:1px;
}
.board{
    display:inline-grid;
    background-color:black;

    grid-template-columns:repeat(4,1fr);
    margin:auto;
}
.centerThis{
    margin:auto;
    width:fit-content;
    border-style:solid;
    border-width:5px;
    width:500px;
    height:500px;
    border-color:black;
}
button{
    display:block;
    margin:auto;
    margin-bottom:50px;
}